<div class="container">
    <div class="user-details">
        <h3> Education </h3>
    </div>
    <div class="row user-projects">
        <div class="six columns">
            <h5> Stony Brook University</h5>
            <h6> B.S in Computer Science </h6>
            <h6> September 2015 - May 2019 </h6>
            <h6> GPA: 3.84 </h6>
            <h6> University Scholar </h6>
            <h6> Dean's List Fall 2015 - Spring 2017 </h6>
        </div>
        <div class="six columns">
            <h5> Courses </h5>
            <ul style="list-style: none;">
                <li>Analysis of Algorithms</li>
                <li>Databases</li>
                <li>Natural Language Processing</li>
                <li>Computer Architecture</li>
                <li>Operating Systems</li>
                <li>Computer Vision</li>
            </ul>
        </div>
    </div>
</div>