<div class="container">
    <div class="user-details">
        <h3> Skills </h3>
        <div class="row">
            <div class="six columns">
                <h5>Languages</h5>       
                <ul style="list-style: none;">
                    <li>Java</li>
                    <li>JavaScript (ES5/6)</li>
                    <li>Python</li>
                    <li>C</li>
                    <li>C++</li>
                    <li>HTML5/CSS</li>
                </ul>         
            </div>
            <div class="six columns">
                <h5>Technologies</h5>
                <ul style="list-style: none;">
                    <li>AngularJS</li>
                    <li>Node.js</li>
                    <li>Eclipse</li>
                    <li>Linux</li>
                </ul>
            </div>
        </div>
        <h7>Resume available <a href="https://drive.google.com/open?id=0B-LnwrtyGf1NRnotTGs5cFVWMDg">Here</a></h7>
    </div>
</div>